body {
    background: linear-gradient(rgba(255, 255, 255, .75), rgba(64, 187, 218, 0.75)), url("./background.jpg") no-repeat center center fixed;
    font-family: 'Montserrat', sans-serif;
}

.images {
    height: 200px;
    width : 33%;
    display: inline-block;
    margin : 0 auto;
    padding : 0 auto;
    cursor: pointer;
    border: solid 10px rgb(27, 161, 223);
    clip-path: polygon( calc(0% + 5px) calc(0% + 5px), calc(100% - 5px) calc(0% + 5px), calc(100% - 5px) calc(100% - 5px), calc(0% + 5px) calc(100% - 5px));
    transition: clip-path .2s ease-in;
}

.images:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.main-container{
    width: 100%;
    height : 100%;
}

h1 {
    text-align: center;
    display: block;
    font-size : 60px;
    text-shadow : 2px 2px rgb(2, 91, 94);

}
h3 {
    text-align:center;
    display: block;
    font-size : 40px;
    text-shadow : 2px 2px rgb(2, 91, 94);

}

.scores {
    text-align:left;
    font-size : 30px;
    font-weight:bold;
    color : rgba(8, 83, 117, 0.75);
    text-shadow : 1px 1px rgb(2, 91, 94);


}

.instructions {
    font-size : 30px;
    font-weight : bold;
    color : rgba(8, 83, 117, 0.75);
    text-shadow : 1px 1px rgb(2, 91, 94);

}
#header {
    font-size: 50px;
    color : rgb(27, 161, 223,.75);
}